<!doctype html>
<html lang="en">
  <head>
    <title>{{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <style>
      {{{initialCSS}}}
    </style>
  </head>
  <body>
    <div id="root">{{{initialHtml}}}</div>
    <script>
      window.__INITIAL_STYLE_IDS__ = {{{initialIds}}}
    </script>
    <script>
      window.__INITIAL_STORE__ = {{{initialStore}}}
    </script>
  </body>
</html>